<!DOCTYPE html>
<html>
<head>
<body>

<img src="static/image/nlp.jpg"  width="1550" height="260">
<h1>Introduction to Natural Language Processing (NLP)</h1>
<style>
h1{text-align: center;}
</style>
<p align="center"><i>NLP enables computers to understand natural language as humans do. 
Whether the language is spoken or written, natural language processing uses artificial intelligence
to take real-world input, process it, and make sense of it in a way a computer can understand. 
Just as humans have different sensors -- such as ears to hear and eyes to see -- computers have
programs to read and microphones to collect audio. And just as humans have a brain to process that
input, computers have a program to process their respective inputs. At some point in processing,
the input is converted to code that the computer can understand.
There are two main phases to natural language processing: data preprocessing and algorithm 
development.Data preprocessing involves preparing and "cleaning" text data for machines to be able 
to analyze it. preprocessing puts data in workable form and highlights features in the text that an
algorithm can work with.<i></p>
<style>
p{
  font-size: 1.875em;
}
</style>
</head>
</body>
<div style ="text-align:center">
<a href="/" >Click here to visit home page</a>
<br>
<a href="/index3" >Click here for project description</a>
<br>
<a href="/index4" >Click here to view model prediction</a>
<br>
</div>
</html>